<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Alexander Troup</title>
  <script src="../dist/main.js"></script>
</head>

<body>
  {{> organisms/navigation }}
  <img src="url(../images/profile-picture.jpg)" class="img-fluid" alt"Picture of Alexander Troup" aria-hidden="true">
  </div>
  <main class="container">
    <header>
      <h1>About Me</h1>
    </header>
    
    <main>
      <p>
     This will be some real text later on, but right now it's just filler, much like the Picard series. 
      </p>
    </main>
    
  </main>
  {{> organisms/footer }}
</body>

</html>
