<footer class="container-fluid site-footer">
    <a href="https://www.linkedin.com/in/alexander-t-4b110123/" aria-label="Navigate to my LinkedIn profile"
      target="_blank" rel="noreferrer noopener">
      <i class="fab fa-lg fa-linkedin"></i>
    </a>
    <a href="https://github.com/AlexanderTroup" aria-label="Navigate to my GitHub profile" target="_blank"
      rel="noreferrer noopener">
      <i class="fab fa-lg fa-github"></i>
    </a>
    <a href="https://twitter.com/AlexanderTroup" aria-label="Navigate to my Twitter page" target="_blank"
      rel="noreferrer noopener">
      <i class="fab fa-lg fa-twitter"></i>
    </a>
    <a href="https://www.twitch.tv/lexie_t" aria-label="Navigate to my Twitch channel" target="_blank"
      rel="noreferrer noopener">
      <i class="fab fa-lg fa-twitch"></i>
    </a>
    <a href="https://medium.com/@AlexanderTroup" aria-label="Read my articles on Medium" target="_blank"
      rel="noreferrer noopener">
      <i class="fab fa-lg fa-medium"></i>
    </a>
  </footer>
